.ul-header{
  text-align: right;
  margin-bottom: 158px;
  color: #000000;
  margin-top: 27px;
}
.ul-header li{
  display: inline;
  margin-right: 33px;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  text-align: right;
}